html {
     box-sizing: border-box;
     background: url(back-ground.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
     font-family: monospace;
     text-align: center;
     color: white;
     padding: 0px;
     margin: 0px;
}

#lable {
     margin: 10px;
     margin-left: 200px;
     margin-right: 200px;
     padding: 5px;
}

#lable:hover {
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(5, 5, 5, 0.3);
}

#div {
     background: rgba(0, 0, 0, 0.6);
     padding: 5px;
     margin: 20px;
     margin-left: 200px;
     margin-right: 200px;
}

#div:hover {
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(5, 5, 5, 0.3);
}

#button {
     width: 200px;
     height: 50px;
     margin-top: 10px;
     color: white;
     background: rgba(0, 0, 0, 0.4);
     font-weight: bolder;
     border-radius: 10px;
     text-align: center;
}

#button:hover {
     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(5, 5, 5, 0.3);
}

background: rgba(0, 0, 0, 0.6);
