html {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

body {
     font-family: monospace;
     padding: 0px;
     margin: 0px;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     line-height: 1rem;
}

h1 {
     padding: 10px;
     margin: 10px;
}

img {
     width: 10%;
     padding: 10px;
     margin: 10px;
     margin-top: 0px;
}

img:hover {
     box-shadow: 0 14px 28px rgba(10, 10, 10, 0.3), 0 10px 10px rgba(100, 100, 100, 0.3);
     background-color: whitesmoke;
}

ul {
     list-style: none;
     padding: 10px;
     margin: 10px;
     font-weight: 600;
}

li {
     padding: 10px;
     margin: 10px;
}

.list {
     display: flex;
     justify-content: flex-start;
}

#repository {
     font-size: 2em;
     font-weight: bold;
     font-size: 1.5em;
     width: 30%;
}

#repository ul li {
     padding-top: 200px;
}

#repository ul li:nth-child(1) {
     padding-top: 0px;
}

#repository_details {
     font-size: 1em;
     width: 30%;
}

#repository:hover {
     box-shadow: 0 14px 28px rgba(10, 10, 10, 0.3), 0 10px 10px rgba(100, 100, 100, 0.3);
     background-color: whitesmoke;
}

#repository_details:hover {
     box-shadow: 0 14px 28px rgba(10, 10, 10, 0.3), 0 10px 10px rgba(100, 100, 100, 0.3);
     background-color: whitesmoke;
}
